.navbar {
  background-color: rgb(35, 133, 109);
  height: 58px;
  width: 100%;
}
.navbar_element {
  padding: 22px;
  color: white;
}
.navbar_element-th {
  display: flex;
  justify-content: space-evenly;
}
.navbar_element1 {
  display: flex;
  align-items: center;
}
.navbar_element1-icon {
  display: flex;
}

.number {
  opacity: 0.5;
}

.email {
  opacity: 0.5;
}

.nav {
  background-color: azure;
}
.nav_element {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav_element-linka {
  text-decoration: none;
  padding: 15px;
  color: rgb(115, 115, 115);
}
.nav_element-btn {
  margin-right: 25px;
  border: none;
  background-color: azure;
}
.nav_element-end {
  display: flex;
  align-items: center;
}

.logreg {
  color: blue;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-button .header-btn {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
}
.header-button .header-btn-link {
  text-decoration: none;
  color: darkolivegreen;
  font-weight: 900;
}
.header-button .header-btn-link1 {
  text-decoration: none;
  color: darkolivegreen;
  font-weight: 900;
  opacity: 0.4;
}
.header-button .header-btn-icon {
  margin: 0px 15px;
}

.section {
  display: flex;
  gap: 30px;
  padding: 40px 50px;
}
.section .section2 {
  display: flex;
  padding: 40px 12.5%;
  gap: 50px;
}
.section-star {
  display: flex;
}
.section-btn {
  background: #23A6F0;
  color: white;
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.section-color {
  margin-top: 40px;
}
.section-bton {
  display: flex;
  align-items: center;
  margin-top: 72px;
}
.section-icon {
  display: flex;
}
.section-icon-prp {
  width: 26px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  padding: 10px;
}

p {
  opacity: 0.6;
}

.header-button .header-btn {
  display: flex;
  margin: 70px 0px 0px 14.5%;
}

#top-10 .section2_head {
  display: flex;
  justify-content: center;
  background-color: azure;
  height: 50px;
}
#top-10 .section2_head-element {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #ECECEC;
}
#top-10 .section2_head-element-link {
  text-decoration: none;
  color: rgb(35, 133, 109);
}
#top-10 .section2_head-part {
  margin-inline: 70px;
  opacity: 0.7;
  font-weight: 600;
}
#top-10 .section2_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 11px 60px 0px 60px;
  align-items: center;
}
#top-10 .section2_text-p {
  opacity: 0.7;
  width: 480px;
}
#top-10 .section2_text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#top-10 .section2_element {
  display: flex;
  padding: 40px 14.5%;
}
#top-10 .section2_img {
  margin-top: 34px;
}

#top-11 .title {
  display: flex;
  margin-left: 9.5%;
  border-bottom: 3px solid #ECECEC;
  height: 47px;
}

.section-generally .section-input {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.section-generally .section-input-feautures {
  background-color: azure;
  padding: 25px 25px 35px 25px;
}
.section-generally .section-input-text {
  opacity: 0.5;
  font-weight: 600;
  display: flex;
}
.section-generally .section-input-price {
  opacity: 0.5;
  font-weight: 700;
}
.section-generally .section-input-price2 {
  padding-left: 10px;
  color: rgb(35, 133, 109);
  font-weight: 700;
}
.section-generally .section-input-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(230, 230, 230);
  padding-bottom: 40px;
  margin-top: 40px;
}
.footer-head-title {
  color: rgb(37, 43, 66);
  font-weight: 800;
}
.footer-head-title1 {
  margin-left: 10.6%;
}
.footer-email {
  height: 43.6px;
  border: 1px solid #E6E6E6;
}
.footer-prp {
  display: flex;
  flex-direction: column;
}
.footer-middle {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.footer-link {
  text-decoration: none;
  color: rgb(115, 115, 115);
  font-weight: 700;
  margin: 10px 0px;
}
.footer-icon {
  display: flex;
  margin: 0px 70px 0px 0px;
}
.footer-icon-element {
  margin: 15px;
}
.footer-end {
  display: flex;
  justify-content: space-around;
}
.footer-end1 {
  display: flex;
  flex-direction: column;
}
.footer-input {
  width: 18.6%;
}
.footer-input2 {
  background-color: #23A6F0;
  color: #fff;
  border: none;
  width: 23%;
  height: 48px;
}
.footer-input2-end {
  color: #737373;
}
.footer-input2-end2 {
  margin: 40px 0px 0px 10.6%;
}
.footer-input2-point {
  color: rgb(115, 115, 115);
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */